# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: 水贝金价推送

on:
  schedule:
    # 设置启动时间，为 UTC 时间, UTC 03点 对应北京时间早11点
    - cron : '00 03 * * *'
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
   #表示该 Action 具有写入仓库内容的权限。
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Run weather Report
      run: |
        python gold_price_report.py
        echo "执行操作并生成结果数据" > gold_price_result.csv  # 生成结果数据
      env:
        APP_ID: ${{ secrets.APP_ID }}
        APP_SECRET: ${{ secrets.APP_SECRET }}
        OPEN_ID: ${{ secrets.OPEN_ID }}
        GOLD_TEMPLATE_ID: ${{ secrets.GOLD_TEMPLATE_ID }}
    - name: Pull changes from remote
      run: git pull origin main --rebase || echo "处理冲突或其他问题"

    - name: commit_result
      run: |
        git config --local user.name Damon-97
        git config --local user.email 2523996755@qq.com
        git fetch origin main
        git rebase origin/main || echo "处理冲突或其他问题"
        
        git add gold_price_result.csv  # 添加生成的文件
        git diff --staged --quiet || git commit -m "更新结果数据"
        git push origin main || echo "推送失败，可能需要手动解决"
      
      
      
      
       
